<p id="notice"><%= notice %></p>

<p>
  <strong>Stuff:</strong>
  <%= @bid.stuff_create_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.owner_username %>
</p>

<p>
  <strong>Point:</strong>
  <%= @bid.bidder_username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bid.bidding_points %>
</p>

<p>
  <strong>Bid create time:</strong>
  <%= @bid.create_time %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
