<p id="notice"><%= notice %></p>

<p>
  <strong>Stuff:</strong>
  <%= @bid.stuff %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user %>
</p>

<p>
  <strong>Point:</strong>
  <%= @bid.point %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bid.status %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
