<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @bid.owner_username %>
</p>

<p>
  <strong>Bidder:</strong>
  <%= @bid.bidder_username %>
</p>

<p>
  <strong>Bidding points:</strong>
  <%= @bid.bidding_points %>
</p>

<p>
  <strong>Bid create time:</strong>
  <%= @bid.create_time %>
</p>

<% if @bid.owner_username == current_user.username %>
<%= link_to 'Approve', approve_bid_path(@bid), method: :post %> |
<% end %>

<% if @bid.bidder_username == current_user.username %>
<%= link_to 'Destroy', @bid, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_bid_path(@bid) %> |
<% end %>
<%= link_to 'Back', bids_path %>
