<%= form_for(stuff) do |f| %>
  <% if stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stuff.errors.count, "error") %> prohibited this stuff from being saved:</h2>

      <ul>
      <% stuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stuff_name %>
    <%= f.text_field :stuff_name %>
  </div>

  <div class="field">
    <%= f.label :stuff_description %>
    <%= f.text_area :stuff_description %>
  </div>

  <%= f.label :stuff_type %>
  <%= f.select :stuff_type, options_for_select([['tool', 'tool'], ['appliance', 'appliance'], ['furniture', 'furniture'], ['book', 'book']]) %></p>

  <div class="field">
    <%= f.label :pick_up_point %>
    <%= f.text_field :pick_up_point %>
  </div>

  <div class="field">
    <%= f.label :return_point %>
    <%= f.text_field :return_point %>
  </div>

  <div class="field">
    <%= f.label :pick_up_time %>
    <%= f.datetime_select :pick_up_time %>
  </div>

  <div class="field">
    <%= f.label :return_time %>
    <%= f.datetime_select :return_time %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
