<p id="notice"><%= notice %></p>

<h1>Stuffs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Pickup location</th>
      <th>Return location</th>
      <th>Is Available</th>
      <th>Pick up time</th>
      <th>Return time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stuffs.each do |stuff| %>
      <tr>
        <td><%= stuff.stuff_name %></td>
        <td><%= stuff.stuff_type %></td>
        <td><%= stuff.pick_up_point %></td>
        <td><%= stuff.return_point %></td>
        <td><%= !stuff.availability.present? %></td>
        <td><%= stuff.pick_up_time %></td>
        <td><%= stuff.return_time %></td>

        <% bids = Bid.get_stuff_bids(stuff.create_time, stuff.owner_username) %>
        <% bid_taken = Bid.get_taken_stuff_bid(stuff.create_time, stuff.owner_username) %>
        <% if bid_taken.present? %>
            <td>Taken by <%= bid_taken.bidder_username %></td>
        <% else %>
            <td id="<%= stuff.hash %>">
                <% bids.each do |bid| %>
                    <%= render partial: 'stuffs/bid', locals: { bid: bid } %>
                <% end %> 
                <li>
                <% if !stuff.availability.present? %>
                    <%= form_tag bid_stuff_path(stuff) do %>
                        <%= text_field_tag :bidding_points %>
                    <%= submit_tag "Bid now!" %>
                <% end %>
              </li>
<!--
                  <li><input type="text" style="width: 30px"><%= link_to 'Bid now!', bid_stuff_path(stuff), remote: true, method: :post %></li>
                <% end %>
                -->
            </td>
        <% end %>

        <td><%= link_to 'Show', stuff %></td>
        <% if current_user.isAdmin || stuff.owner_username == current_user.username %>
        <td><%= link_to 'Edit', edit_stuff_path(stuff) %></td>
        <td><%= link_to 'Destroy', stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stuff', new_stuff_path %>
