<p id="notice"><%= notice %></p>

<p>
<strong>Stuff Name:</strong>
  <%= @stuff.stuff_name %>
</p>

<p>
  <strong>Stuff Type:</strong>
  <%= @stuff.stuff_type %>
</p>

<p>
  <strong>Pickup location:</strong>
  <%= @stuff.pick_up_point %>
</p>

<p>
  <strong>Return location:</strong>
  <%= @stuff.return_point %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @stuff.availability %>
</p>

<p>
  <strong>Pickup time:</strong>
  <%= @stuff.pick_up_time %>
</p>

<p>
  <strong>Return time:</strong>
  <%= @stuff.return_time %>
</p>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>
